.pull-bottom {
  position: absolute;
  bottom: 15px;
  right: 25px;
}

.description {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", sans-serif;
  font-size: 1.5em;
  padding-bottom: 35px;
}